backoff==2.2.1
black
boto3==1.26.138
boto3-stubs[s3]
botocore-stubs
ConfigParser==5.3.0
ipython==8.13.2
isort
mapboxgl==0.10.2
moto==4.1.10
mypy_boto3_s3==1.26.127
pytest==7.3.1
PyYAML==6.0
requests==2.28.1
responses==0.23.1
setuptools==65.5.0
urllib3